<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        <h1 class="col-lg-12">Gestor de Clientes</h1>
      </div>

      <div class="row">
        <button on-click="obtenerClientes" type="button" name="button" class="btn btn-success">Obtener Clientes</button>
      </div>

      <div class=""row>
          <table class="table table-hover">
            <tbody>
              <template is="dom-repeat" items="{{clientes}}">
                <tr>
                  <td>[[item.idcliente]]</td>
                  <td>[[item.nombre]]</td>
                  <td>[[item.apellido]]</td>
                </tr>
              </template>
            </tbody>
          </table>
      </div>
    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class gestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          prop1: {
            type: Array,
            notify: true
          }
        };
      }
      obtenerClientes(){
        var request = new XMLHttpRequest();
        //request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
        request.open("GET", "http://localhost:3002/Clientes", false);
        request.setRequestHeader("Accept", "application/json");
        request.send();

        //this.clientes = JSON.parse(request.responseText).value;
        this.clientes = JSON.parse(request.responseText);
        console.log(this.clientes);
      }
    }

    window.customElements.define(gestorClientes.is, gestorClientes);
  </script>
</dom-module>
