<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

Access-Control-Allow-Origin: *

<dom-module id="login-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="container">
      <div class="row">
        Ingreso a aplicación
      </div>

      <div class="row">
        Email: <input type="email" name="" value="{{email::input}}">

      </div>

      <div class="row">
        Password: <input type="password" name="" value="{{password::input}}">
      </div>

      <div class="row">
        <button on-click="login" type="button" name="button" class="btn btn-success">Ingresar</button>
      </div>

      <div class="row" hidden$={{!logueado}}>
        <span>Bienvenido a la aplicación</span>
      </div>

    </div>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/login"
      content-type="application/json"
      crossDomain: true
      dataType:'jsonp'
      method ="POST"
      handle-as="json"
      headers="Access-Control-Allow-Headers: *"
      on-response="manageAJAXResponse"
      on-error="showError">
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginApp extends Polymer.Element {
      static get is() { return 'login-app'; }
      static get properties() {
        return {
          email: {
            type: String
          },
          password: {
            type: String
          },
          logueado: {
            type: Boolean,
            value: false
          }
        };
      }
      login(){
        var loginData = {
          "email": this.email,
          "password": this.password
        };
        console.log(loginData);

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log('Petición enviada');

      }

      manageAJAXResponse(data){
        console.log("Respuesta recibida del servidor");
        console.log(data.detail.response);

        this.logueado = true;
      };
      showError(error){
        console.log("Hubo un error");
        alert("Datos incorrectos, valide");
        console.log(error);
      };

    }

    window.customElements.define(LoginApp.is, LoginApp);
  </script>
</dom-module>
